<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <% include partials/_header %>

    <% if (user) { %>
      <ul>
      <% for (let shortURL in urls) { 
        if (urls[shortURL].user === user.id) { %>

          <%= shortURL.user %>
        <li>URL: <%= urls[shortURL].longURL %> and short form: <%= shortURL %></li>
      </ul>
        <a href="/urls/<%= shortURL %>">Edit</a>
        <form method="POST" action=<%=`/urls/${shortURL}/delete`%> >
          <input type="submit" value="Delete">
        </form>
      <% }} %>

      <a href="/urls/new">Create a shortURL!</a>
    
    
    <% } else { %>
    <p><a href="/register">Register</a> or <a href="/login">login</a> to create short urls.</p>
   <% } %>
    
</body>
</html>