<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
  <style>
    a:link {
    color: lightseagreen; 
    background-color: transparent; 
    text-decoration: none;
    }
    a:hover {
    color: plum;
    }
  </style>
</head>
<body style="font-size:20px; padding:50px;">

  <% include partials/_header %>

  <!-- user returns truthy only when cookies present-->
  <% if (user) { %>
    <% for (let shortURL in urls) { %>
      <ul>
        <li><a href=<%=`/u/${shortURL}`%>> <%= shortURL %> </a>: <%= urls[shortURL].longURL %> </li>
      </ul>
      <div>
        <p>Link created: <%= urls[shortURL].dateCreated %></p>
        <p>This link has been visited <%= urls[shortURL].visitCount %> times.</p>
      </div>
      <form method="POST" action=<%=`/urls/${shortURL}?_method=DELETE`%> >
        <input type="submit" value="Delete">
      </form>
      <form method="GET" action=<%=`/urls/${shortURL}`%> >
        <input type="submit" value="Edit">
      </form>
    <% } %>

    <a href="/urls/new">Create a New Short Link</a>
  
  
  <% } else { %>
    <p>Login or register to create short urls.</p>
  <% } %>
    
</body>
</html>